
.normal {
  font-family: Georgia, sans-serif;
  /* margin-top: 3em; */
  text-align: center;
}

.title {
  font-size: 2.5rem;
  font-weight: normal;
  letter-spacing: -1px;
}

.welcome {
  height: 328px;
  background: url(../assets/yay.jpg) no-repeat center 0;
  background-size: 388px 328px;
}

.list {
  font-size: 1.2em;
  margin-top: 1.8em;
  list-style: none;
  line-height: 1.5em;
}

.list code {
  background: #f7f7f7;
}

.myMap{
  width:100vw;
  margin: 0 auto;
  height:100vh;
  overflow: hidden;
  
}
.SearchInput{

  /* transform: translateX(5%); */
}
.Menus{
  position: absolute;
  top:25%;
  z-index: 9;
  width:240px;
}
.show{
  box-sizing:border-box;
  position: absolute;
  top:5%;
  left:10%;
  z-index: 9;
  display: inline-block;
}
.hidden{
  box-sizing:border-box;
  display: none;
  width: 0;
  height: 0;
  overflow: hidden;
  margin-top: 0 !important;
  opacity: 0;
}
.guideResult{
  box-sizing:border-box;
  position: absolute;
  top:70%;
  height:30%;
  width:100%;
}
.closeSpan{
  position: absolute;;
  right:2%;
  height:10%;
  bottom: 100%;
  font-size: 20px;
}
.result{
  box-sizing:border-box;
  position: absolute;
  top:5%;
  height:95%;
  overflow: scroll;
  width:100%;
  /* left:20%; */
}
